<template lang="">
  <v-sheet class="pa-2 bg-background">
    <h2 class="my-3">{{ name }}</h2>
    <div class="d-flex flex-wrap gap-1">
      <v-col cols="12" sm="6" class="pa-0">
        <custom-pair title="Native name" :value="nativeName"></custom-pair
      ></v-col>
      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Population" :value="population"></custom-pair
      ></v-col>
      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Region" :value="region"></custom-pair
      ></v-col>
      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Subregion" :value="subregion"></custom-pair>
      </v-col>

      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Capital" :value="capital"></custom-pair>
      </v-col>

      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Top Level Domain" :value="tld"></custom-pair>
      </v-col>
      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Currencies" :value="currencies"></custom-pair>
      </v-col>

      <v-col cols="12" sm="6" class="pa-0 ma-0">
        <custom-pair title="Languages" :value="languages"></custom-pair>
      </v-col>
    </div>
  </v-sheet>
</template>
<script>
import CustomPair from "@/components/ui/CustomPair.vue";
export default {
  props: [
    "name",
    "population",
    "region",
    "capital",
    "subregion",
    "tld",
    "currencies",
    "languages",
    "nativeName",
  ],

  components: {
    CustomPair,
  },
};
</script>
<style lang=""></style>
