<template lang="">
  <v-btn class="bg-primary" @click="$router.go(-1)">
    <v-icon icon="mdi-keyboard-backspace" left /> Back
  </v-btn>
</template>
<script>
export default {};
</script>
<style lang=""></style>
