<template lang="">
  <v-container class="pa-0 my-5">
    <v-row
      no-gutters
      class="d-flex flex-column flex-md-row justify-space-between"
    >
      <v-col cols="12" sm="6" md="5">
        <custom-lazy-image
          :src="country.flags.png"
          height="250"
        ></custom-lazy-image>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <country-info
          :name="country.name.common"
          :nativeName="Object.keys(country.name.nativeName).join()"
          :population="country.population"
          :region="country.region"
          :subregion="country.subregion"
          :capital="country.capital.join()"
          :tld="country.tld.join()"
          :currencies="Object.keys(country.currencies).join()"
          :languages="Object.values(country.languages).join()"
        ></country-info>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
// import CountryMedia from "./CountryMedia.vue";
import CountryInfo from "./DetailInfo.vue";
import CustomLazyImage from "@/components/ui/CustomLazyImage.vue";

export default {
  props: ["country"],
  components: {
    // CountryMedia,
    CountryInfo,
    CustomLazyImage,
  },
};
</script>
<style lang=""></style>
