<template>
  <v-layout>
    <v-app-bar color="primary" density="compact">
      <template v-slot:prepend> Where is the world? </template>
      <template v-slot:append>
        <v-btn @click="toggleTheme">
          <p v-if="theme.global.current.value.dark">
            <v-icon icon="mdi-weather-night" left /> Dark Mode
          </p>
          <p icon="mdi:mdi-minus" v-else>
            <v-icon icon="mdi-weather-sunny" left />
            light Mode
          </p>
        </v-btn>
      </template>
    </v-app-bar>
    <v-main class="bg-background">
      <v-container fluid fill-height class="h-100">
        <slot></slot>
      </v-container>
    </v-main>
  </v-layout>
</template>
<script>
import { useTheme } from "vuetify";
export default {
  setup() {
    const theme = useTheme();

    return {
      theme,
      // lightModeText: <v-icon icon="md:home"></v-icon>,
      toggleTheme: () => {
        theme.global.name.value = theme.global.current.value.dark
          ? "lightTheme"
          : "darkTheme";
      },
    };
  },
};
</script>
<style lang=""></style>
