<template lang="">
  <v-container class="fill-height" max-width="800" width="100%">
    <detail-header></detail-header>

    <div class="w-100 d-flex justify-center" v-if="loading">
      <v-progress-circular
        height="300"
        color="grey-lighten-4"
        indeterminate
      ></v-progress-circular>
    </div>

    <div v-if="error" class="error">{{ error }}</div>
    <detail-main v-if="country" :country="country"> </detail-main>
  </v-container>
</template>
<script>
import DetailHeader from "@/components/detail/DetailHeader.vue";
import DetailMain from "@/components/detail/DetailMain.vue";
import { getCountryById } from "@/utils/api-utils";

export default {
  data() {
    return {
      country: null,
      loading: false,
      error: null,
    };
  },
  created() {
    this.fetchCountrydata();
  },
  methods: {
    fetchCountrydata() {
      this.error = this.country = null;
      this.loading = true;
      const fetchedId = this.$route.params.id;
      getCountryById(fetchedId)
        .then((res) => {
          this.country = res;
          this.loading = false;
        })
        .catch((error) => (this.error = error));
    },
  },

  components: {
    DetailHeader,
    DetailMain,
  },
};
</script>
<style lang=""></style>
