<template>
  <v-container class="home">
    <v-row class="d-flex flex-column flex-md-row mb-5 justify-space-between">
      <v-col cols="12" md="4" lg="4" xl="4">
        <custom-search @onApplySearch="applySearchHandler"></custom-search
      ></v-col>
      <v-col cols="12" md="3" lg="3" xl="6">
        <custom-dropdown
          @onSetSelectDropdownItem="applyFilterHandler"
          :items="availableRegions"
          dropdownTitle="Filter by Region"
        ></custom-dropdown>
      </v-col>
    </v-row>

    <custom-loader v-if="loading"></custom-loader>

    <v-sheet class="bg-background" v-else>
      <country-list :items="paginatedData"></country-list>
      <v-pagination
        class="mt-5"
        color="text-color"
        v-model="currentPage"
        :length="totalPages"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
        :total-visible="5"
      ></v-pagination>
    </v-sheet>
  </v-container>
</template>

<script>
import CountryList from "@/components/home/CountryList.vue";
import CustomSearch from "@/components/ui/CustomSearch.vue";
import CustomLoader from "@/components/ui/CustomLoader.vue";

import CustomDropdown from "@/components/ui/CustomDropdown.vue";
import {
  getAllCountries,
  getCountryByRegion,
  searchCountryByName,
} from "@/utils/api-utils.js";

export default {
  name: "HomeView",

  data() {
    return {
      currentPage: 1,
      itemsPerPage: 12,
      countries: [],
      searchTerm: "",
      filteredData: [],
      availableRegions: [
        { title: "Africa", value: "africa" },
        { title: "America", value: "america" },
        { title: "Europe", value: "europe" },
        { title: "Asia", value: "asia" },
        { title: "Oceania", value: "oceania" },
      ],
      loading: false,
    };
  },
  computed: {
    paginatedData() {
      const startIndex = (this.currentPage - 1) * this.itemsPerPage;
      const data = [...this.sortedData];
      return data.splice(startIndex, this.itemsPerPage);
    },
    totalPages() {
      return Math.ceil(this.sortedData.length / this.itemsPerPage);
    },
    sortedData() {
      return this.filteredData;
    },
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      getAllCountries().then((res) => {
        this.filteredData = res;
      });
    },
    applySearchHandler(searchTerm) {
      searchCountryByName(searchTerm).then((res) => {
        this.filteredData = res;
      });
    },
    applyFilterHandler(region) {
      this.loading = true;
      getCountryByRegion(region)
        .then((res) => {
          this.filteredData = res;
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
        });
    },
  },
  components: {
    CountryList,
    CustomSearch,
    CustomDropdown,
    CustomLoader,
  },
};
</script>
