<template lang="">
  <v-card class="bg-primary" @click="$router.push('/detail/' + id)">
    <country-item-media :src="flags.png" height="140"></country-item-media>
    <div class="pa-3">
      <h4 class="font-weight-bold mb-2">
        {{ name.common }}
      </h4>
      <p class="font-weight-medium">
        Population: <span class="font-weight-light">{{ population }}</span>
      </p>
      <p class="font-weight-medium">
        Capital:
        <span class="font-weight-light">{{
          capital && capital.length > 0 ? capital.join() : capital
        }}</span>
      </p>
      <p class="font-weight-medium">
        Region: <span class="font-weight-light">{{ region }}</span>
      </p>
    </div>
  </v-card>
</template>
<script>
import CountryItemMedia from "@/components/ui/CustomLazyImage.vue";
export default {
  props: ["name", "population", "capital", "region", "flags", "id"],
  methods: {},
  components: {
    CountryItemMedia,
  },
};
</script>
<style lang=""></style>
