<template lang="">
  <v-row class="d-flex flex-wrap justify-start">
    <v-col
      cols="12"
      sm="4"
      md="3"
      class="pa-4"
      v-for="item in items"
      :key="item.title"
      min-width="140"
      ><country-item
        :name="item.name"
        :population="item.population"
        :region="item.region"
        :capital="item.capital"
        :flags="item.flags"
        :id="item.ccn3"
      ></country-item>
    </v-col>
  </v-row>
</template>
<script>
import CountryItem from "./CountryItem.vue";
export default {
  props: ["items"],
  components: {
    CountryItem,
  },
};
</script>
<style lang=""></style>
