:root {
  --dark-blue: hsl(209, 23%, 22%);
  /* //dark mode background */
  --very-dark-blue: hsl(207, 26%, 17%);
  --light-text: hsl(200, 15%, 8%);
  /* Light Mode Input */
  --dark-gray: hsl(0, 0%, 52%);
  /* Light Mode Background):  */
  --light-gray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Elements) */
    --dark-blue: hsl(209, 23%, 22%);
    /* //dark mode background */
    --very-dark-blue: hsl(207, 26%, 17%);
    --light-text: hsl(200, 15%, 8%);
    /* Light Mode Input */
    --dark-gray: hsl(0, 0%, 52%);
    /* Light Mode Background):  */
    --light-gray: hsl(0, 0%, 98%);
    /* Dark Mode Text & Light Mode Elements */
    --white: hsl(0, 0%, 100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background-color: var(--dark-blue); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
