<template>
  <Layout id="app">
    <router-view />
  </Layout>
</template>
<script>
import Layout from "@/components/layout";
export default {
  components: {
    Layout,
  },
};
</script>

<style>
#app {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
}

@import url("assets/globalCss.css");
</style>
