<template lang="">
  <v-responsive>
    <v-text-field
      :loading="loading"
      v-model="search"
      density="compact"
      variant="solo-filled"
      label="Search templates"
      append-inner-icon="mdi-magnify"
      single-line
      hide-details
      @click:append-inner="onClick"
    ></v-text-field>
  </v-responsive>
</template>
<script>
export default {
  data() {
    return {
      search: "",
      loading: false,
    };
  },
  methods: {
    onClick() {
      this.loading = true;
      this.$emit("onApplySearch", this.search);

      setTimeout(() => {
        this.loading = false;
      }, 2000);
    },
  },
};
</script>

<style>
.v-field {
  background-color: var(--v-theme-primary) !important;
}
</style>
