<template lang="">
  <div class="w-100 d-flex justify-center">
    <v-progress-circular
      color="grey-lighten-4"
      indeterminate
    ></v-progress-circular>
  </div>
</template>
<script>
export default {};
</script>
<style lang=""></style>
