<template lang="">
  <v-menu open-on-hover>
    <template v-slot:activator="{ props }">
      <v-btn color="primary" v-bind="props">
        {{ dropdownTitle }}
      </v-btn>
    </template>

    <v-list class="bg-primary">
      <v-list-item
        @click="() => handleClick(item)"
        v-for="(item, index) in items"
        :key="index"
      >
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  props: ["items", "dropdownTitle"],
  data() {
    return {
      select: "",
    };
  },
  methods: {
    handleClick(selected) {
      this.$emit("onSetSelectDropdownItem", selected.value);
    },
  },
};
</script>
<style lang=""></style>
