<template lang="">
  <p class="font-weight-black p-0 m-0 py-1">
    {{ title }}: <span class="font-weight-light">{{ value }}</span>
  </p>
</template>
<script>
export default { props: ["title", "value"] };
</script>
<style lang=""></style>
